doctype html
html
  head
    title Ujjwal Dance Academy
    block scripts
    block style
  body
    nav#navbar
        ul
           div#logo 
              img(src="/static/img1.png")
              | UDA
           li #[a(href ="/") Home]
           li #[a(href ="/") About] 
           li #[a(href ="/") Services] 
           li #[a(href ="/contact") Contact us]
           li #[a(href ="/") Class info]

    block content
    footer#footer   
       | Copyright © 2022 UjjwalAcademy.com | All Rights Reserved 