extends base.pug
 
block scripts
  script(src='/static/index.js')
  
block style 
    style
        include ../static/style.css
block content      
    section#introSection
        div  Welcome to Ujjwal dance academy.
        div.small  Eat Sleep Dance Repeat
    section#missionSection 
        h2 Our Mission
        div.card 
            h3 Dance perfection
            div.card-box
                div.card-img
                    img(src="/static/img1.png")
                div.card-content
                    p best dance academy in lucknow. 
        div.card 
            h3 Dance the way you like
            div.card-box
                div.card-img
                    img(src="/static/img2.png")
                div.card-content
                    p best dance academy in lucknow.
        div.card 
            h3  Expert Teaching     
            div.card-box
                div.card-img
                    img(src="/static/img3.png")
                div.card-content
                    p best dance academy in lucknow.
    section#sponsorsSection 
        h2 Our Sponsors
        div#sponsors
          img(src= "/static/s1.png", alt= "Sponsor Image", class= "spImage")
          img(src= "/static/s2.png", alt= "Sponsor Image", class= "spImage")
          img(src= "/static/s3.png", alt= "Sponsor Image", class= "spImage")
          img(src= "/static/s4.png", alt= "Sponsor Image", class= "spImage")
    footer#footer   
       | Copyright © 2022 UjjwalAcademy.com | All Rights Reserved
    script
        include ../static/index.js 